.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /* grid-template-columns: repeat(3, 1fr);  */
  gap: 24px;
  margin-top: 5px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.course-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05), 0 2px 4px -1px rgba(0,0,0,0.03);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid var(--border-color);
  width: 100%; /* Занимает всю ширину ячейки */
  /* min-width: 300px;  */
  max-width: 315px;
  position: relative;
  box-sizing: border-box; /* Учитываем padding в ширине */
  transition: all 0.2s ease-in-out;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.07), 0 4px 6px -2px rgba(0,0,0,0.05);
}

.card-image {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: var(--text-secondary);
  background-color: var(--border-color);
  position: relative;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--text-primary);
}

.card-content p {
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 10px;
  flex-grow: 1;
}

.card-tests {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: var(--card-bg);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    font-size: 13px;
    margin-bottom: 10px;
}

.card-actions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.card-actions.has-test {
  grid-template-columns: 1fr 1fr;
}

.course-status {  
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  z-index: 10;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 5px;
  right: 5px;
}

.status-not_started {
  background-color: var(--bg-light);
  color: var(--text-secondary);
}

.status-in_process {
  background-color: rgba(59, 130, 246, 0.1);
  color: var(--blue-color);
}

.status-completed {
  background-color: rgba(34, 197, 94, 0.1);
  color: var(--green-color);
}

.status-failed {
  background-color: rgba(239, 68, 68, 0.1);
  color: var(--red-color);
}

/* Стили для заблокированных кнопок */
.card-actions .btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .course-grid {
    grid-template-columns: 1fr;
  }
  .card-actions.has-test {
    grid-template-columns: 1fr;
  }
}