.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 275px;
  background-color: var(--card-bg);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;    /* Чтобы оставался на месте при скролле */
  top: 0;
  overflow: hidden;    /* Контент Sidebar не скролится */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* шапка */
.main-header {
  padding: 32px;
}

/* контент */
.main-content {
  overflow-y: auto;

  padding: 0 100px 35px 35px;
}

.text h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.text h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 5px;
}

.text p {
  font-size: 14px;
  color: var(--text-primary);
}

.text-info {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-secondary);
}

.loading-container,
.error-container,
.empty-state {
  padding: 60px 40px;
  text-align: center;
  background-color: var(--bg-light);
  border-radius: 12px;
  margin-top: 20px;
}

.empty-state h4 {
  font-size: 18px;
}

.empty-state p {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 30px;
}

.empty-state .btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}