.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 275px;
  background-color: var(--card-bg);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;    /* Чтобы оставался на месте при скролле */
  top: 0;
  overflow: hidden;    /* Контент Sidebar не скролится */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* шапка */
.main-header {
  padding: 32px;
}

/* контент */
.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  padding: 0 100px 35px 35px;
}
