.sidebar.edit-mode {
  --primary-color: #6b7280;      /* Серый цвет для админки */
  --active-bg: #f3f4f6;         /* Светло-серый фон активной ссылки */
}

.sidebar {
    background-color: var(--card-bg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: all 0.3s ease;
    border-right: 1px solid var(--border-color);
}

.sidebar-header img {
    max-width: 65%;
    height: auto;
    display: block;
    padding: 0px 0px 0px 5px;
}

.sidebar-nav {
    margin-top: 40px;
    flex-grow: 1;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--text-primary);
    transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav li a .icon {
    margin-right: 6px;
    width: 20px;
    text-align: center;
}

/* .edit-mode .sidebar-nav li a .icon {
    filter: brightness(0) invert(1);
    opacity: 0.8;
} */

.sidebar-nav li a:hover {
    background-color: var(--bg-light);
}

.sidebar-nav li a.active {
background-color: var(--bg-btn-primary);
    color: var(--primary-color);
    font-weight: 600;
}

.nav-separator {
    border: none;
    height: 2px;
    background-color: var(--border-color);
    margin: 10px 0;
}

.edit-button {
    margin-top: auto;
    width: 100%;
    height: 42px;

    border-radius: 8px;
    border: 1px solid var(--primary-color);

    background-color: transparent;
    color: var(--primary-color);

    font-weight: 600;
    font-size: 14px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.edit-button:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-bg);
}

.edit-button.active {
    background-color: var(--primary-color);
    color: #ffffff; 
}
