.sidebar {
    width: 260px;
    background-color: var(--card-bg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-header img {
    max-width: 75%;   /* никогда не шире родителя */
    height: auto;      /* сохраняем пропорции */
    display: block;    /* убираем лишние отступы под inline-block */
    padding: 0px 0px 0px 5px;    /* по центру горизонтально */
}

.sidebar-nav {
    margin-top: 40px;
    flex-grow: 1;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    margin-bottom: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav li a .icon {
    margin-right: 12px;
    width: 20px;
    text-align: center;
}

.sidebar-nav li a:hover {
    background-color: var(--bg-light);
}

.sidebar-nav li a.active {
    background-color: #FFF7ED;
    color: #f04923;
    font-weight: 600;
}

.nav-separator {
    border: none;
    height: 2px;
    background-color: var(--border-color);
    margin: 10px 0;
}