.sidebar {
    background-color: var(--card-bg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sidebar-header img {
    max-width: 65%;
    height: auto;
    display: block;
    padding: 0px 0px 0px 5px;
}

.sidebar-nav {
    margin-top: 40px;
    flex-grow: 1;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav li a .icon {
    margin-right: 6px;
    width: 20px;
    text-align: center;
}

.sidebar-nav li a:hover {
    background-color: var(--bg-light);
}

.sidebar-nav li a.active {
    background-color: #FFF7ED;
    color: #f04923;
    font-weight: 600;
}

.nav-separator {
    border: none;
    height: 2px;
    background-color: var(--border-color);
    margin: 10px 0;
}

.edit-button {
    margin-top: auto;
    width: 100%;
    height: 42px;

    border-radius: 8px;
    border: 1px solid #f04923;

    background-color: #ffffff;
    color: #f04923;

    font-weight: 600;
    font-size: 14px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.edit-button:hover {
    background-color: #f04923;
    color: #ffffff;
}

.edit-button.active {
    background-color: #f04923;
    color: #ffffff;
}
