:root {
  /* --primary-color: #F97316; */
  --primary-color: #f04923;
  --green-color: #22C55E;
  /* --red-color: #f04923; */
  --blue-color: #3B82F6;

  --bg-light: #F7FAFC;
  --card-bg: #FFFFFF;
  --border-color: #E2E8F0;

  --text-primary: #333333;
  --text-secondary: #718096;

  --font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-light);
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Базовая кнопка */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    cursor: pointer;
    border: none;

    transition: opacity 0.2s, background-color 0.2s;
}

/* Hover */
.btn:hover {
    opacity: 0.9;
}

/* Disabled */
.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Основная кнопка */
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

/* Вторичная кнопка */
.btn-secondary {
    background-color: var(--card-bg);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
}

/* Кнопка без отступа слева (например в карточках) */
.btn-no-margin {
    margin-left: 0;
}